@mixin font_50 {
   font-weight: normal;
   font-size: 50px;
   line-height: 62px;
}
@mixin font_40 {
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 50px;
}
@mixin font_30 {
   font-style: normal;
   font-weight: 500;
   font-size: 30px;
   line-height: 37px;
}
@mixin font_20 {
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
}
@mixin font_18 {
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 30px;
}
@mixin font_16 {
   font-size: 16px;
   line-height: 20px;
}