$color-white: #fff;
$color-white2: #F6EDE9;
$color-white3: #E5E5E5;
$color-brown: #533738;
$color-brown2: #CC8B86;
$color-brown3: #8D7370;
$color-brown4: #E2C4BA;
$box-shadow2: 0px 4px 40px rgba(217, 217, 217, 0.3);